.market-data-page {
}

.search-card {
  height: calc(100vh - 250px);
  overflow-y: auto;
}

.selected-stocks {
  margin-top: 16px;
}

.stock-item {
  cursor: pointer;
  margin-bottom: 8px;
}

.stock-item.active .price-ticker {
  border-color: #1890ff;
}
